<div class="container-fluid">

  <div class="row bg-home">
    <div class="col-md-12 text-white">

      <a routerLink="/home" class="text-white text-left">
      <i class="fa fa-hand-o-left" aria-hidden="true"></i> Voltar
      </a>
      <h1 class="text-center fs-54">Temas</h1>
      <h5 class="text-center fs-18 mt-5">Veja aqui todos os temas cadastrados ou cadastre um novo: </h5>

      <div class="row d-flex justify-content-center my-4 mb-5">
        <div class="col-md-3">
          <div class="form-group">
            <input [(ngModel)]="tema.descricao" type="text" class="form-control" id="descricao" placeholder="Digite a descrição do tema.">
          </div>

          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-light" (click)="cadastrar()">Cadastrar</button>
          </div>
        </div>
        </div>


    </div>
  </div>

</div>

<div class="container">

  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="text-center">Todos os temas</h2>
    </div>
  </div>

  <div class="row mt-3 mb-5 d-flex justify-content-center text-color">
    <div class="col-md-6">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Modificações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaTemas">
            <th>{{item.id}}</th>
            <td>{{item.descricao}}</td>
            <td class="d-flex justify-content-end">
              <button class="btn btn-info mr-2 bg-button" data-toggle="modal" data-target="#ModalEdit" data-dismiss="modal"
                (click)="this.tema = item">Editar</button>
              <button class="btn btn-danger mr-2 bg-buttonc" data-toggle="modal" data-target="#ModalDelete" data-dismiss="modal"
                (click)="this.tema = item">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>


</div>

<!--MODAL DELETAR-->

<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDelete" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="TitleDelete">Atenção!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">O conteúdo será excluído permanentemente. Tem certeza que deseja prosseguir?</p>
        <p class="text-center">Tema selecionado: {{this.tema.descricao}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="apagar()">Apagar</button>
      </div>
    </div>
  </div>
</div>



<!--MODAL EDITAR-->

<div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalEdit" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TitleEdit">Atualizar Tema</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">

          <label for="message-text" class="col-form-label">Novo Tema:</label>
          <input class="form-control" id="input-descricao" [(ngModel)]="tema.descricao">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="atualizar()">Atualizar</button>
      </div>
    </div>
  </div>
</div>
